<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example20231016.RBAC_server.Mapper.MenuMapper">

    <resultMap id="MenuMap" type="com.example20231016.RBAC_server.Table.Menu">
        <id column="menu_id" property="menu_id" />
        <result column="menu_name" property="menu_name" />
        <result column="parent_id" property="parent_id" />
        <result column="url" property="url" />
        <result column="component" property="component" />
        <result column="order_num" property="order_num" />
    </resultMap>




    <select id="getMenuIdsByCharacterId" resultType="java.lang.Integer">
        SELECT menu_id  FROM Menu_Characters WHERE character_id = #{character_id}
    </select>


    <select id="getMenuByMenuId" resultMap="MenuMap">
        SELECT * FROM Menus WHERE menu_id=#{menu_id}
    </select>
<!--    <select id="search" resultMap="UserMap" parameterType="com.example20231016.RBAC_server.Table.User">-->
<!--        SELECT * FROM Users WHERE (user_id=#{id} OR #{id}=0)-->
<!--                              AND (name = #{name} OR #{name} ='')-->
<!--                              AND (gender = #{gender} OR #{gender} ='')-->
<!--                              AND (user_name = #{username} OR #{username} ='')-->
<!--                              AND (password = #{password} OR #{password} ='')-->
<!--                              AND (phone_number = #{phone} OR #{phone} ='')-->
<!--    </select>-->

    <select id="getChildrenByParentId" resultMap="MenuMap">
        SELECT * FROM Menus WHERE parent_id = #{parent_id}
    </select>
<!--    <select id="findByUserId" resultMap="UserMap">-->
<!--        SELECT * FROM Users WHERE user_id = #{id}-->
<!--    </select>-->



</mapper>